*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #4b145b;
}

.App{
  width: 90%;
  max-width: 960px;
  margin: 10rem auto;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:10px 20px;
  align-items: start;
  padding: 20px;
}